# Grafana Loki Data Source Provisioning
# Auto-configures Loki as a data source on Grafana startup

apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: false
    jsonData:
      maxLines: 1000
